%form{ :action => '/login', :method => 'post'}
  %input{:type => 'text', :name => 'email', :class => 'loginemail'}
  %input{:type => 'password', :name => 'password', :class => 'loginpassword'}
  %input{:type => 'submit', :value => 'Login', :class => 'loginsubmit'}
