%form{ :action => 'add', :method => 'post'}
  %input{:type => 'text', :name => 'title', :class => 'taskTitle'}
  %input{:type => 'image', :src=>"images/add.png", :width=>"30", :value => 'New Task', :class => 'addTask'}