-@tasks.each do |task|
  %div{ :class => "task-#{task.id}"}
    =task.title
    %form{:method=>"post", :action=>"/delete/#{task.id}"}
      %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
      %input{:type=>"hidden", :name=>"task_id", :value=>task.id, :class=>"task_id"}
      %input{:type=>"submit", :class=>"deleteTask", :value=>"Delete"}