*
  margin: 0
  padding: 0
  
body
  font-family: sans-serif
  width: 100%
  background: #EEEEEE

#header
  text-align: center
  background: #000
  color: #EEE

#newtask
  background: #666666
  height: 30px
  margin: 0 auto
  padding: 10px
  input
    height: 30px
    font-size: 22px
    float: left
    margin-right: 10px
    
#tasks
  margin: 20px auto
  p
    font-size: 12px
    margin-top: 25px
  .taskItem
    background: #BDBDBD
    padding: 10px
    margin: 5px
    height: 30px
    font-size: 18px
    clear: both
    border-bottom: 1px solid #666666
  .completed
    opacity: .6
  .taskTitle
    float: left
  .taskStatus
    float: right
    width: 30px
    height: 30px
  form
    float: right
    margin: 0px 10px
    input
      font-size: 15px
      font-weight: bold
      height: 30px
      padding: 5px 10px

#editTaskTitle
  text-align: center
  margin-top: 20px
  margin-bottom: 10px
  
#editTaskForms
  input
    font-size: 15px
    font-weight: bold
    height: 30px
    padding: 5px 10px
  #editTask
    float: left
    margin: 0px 10px
  #deleteTask
    float: right
    margin: 0px 10px
