* { padding: 0px; margin: 0px; }

body {
  font-family: 'Trebuchet M', 'Helvetica', sans-serif;
  background: #252525;
}
#logo {
  clear: both; 
  text-align: center;
  margin: 30px; 
}
#logo img { width: 400px; }

#header {
  clear: both;
  margin-top: 30px;
}

#header #menu {
  width: 250px; 
  list-style-type: none;
  float: left;
  padding-left: 10%;
}
#header #menu li {
  display: inline;
  padding: 15px;
  margin-right: 10px;
  background: #666;
  font-size: 1.5em;
}
#user_nav img {
  width: 32px;
  height: 32px;
  float: none;
}
#header a:link, #header a:visited { color: #FFF; }
#header a:hover, #header, a:active { color: #8F8F8F; }

#user_nav {
  color: #FFF;
  float: right;
  width: 350px;
  font-size: 1.5em;
  padding-right: 5%;
}
#user_nav a:link, #user_nav a:visited { color: #EEE; }
#user_nav a:hover, #user_nav a:active { color: #8F8F8F; }
#welcome {
  clear: both;
  padding: 5%;
  margin: 0px auto;
}
a:link, a:visited { color: #3F3F3F; }
a:hover, a:active { color: #6F6F6F; }
a img { border: none; }
.center { text-align: center; }

#col1, #col2, #row2 {
  background: #FFF; 
  margin: 25px auto;
  padding: 50px; 
  text-align: center;
  width: 90%;
}

#col1, #col2 {
  font-size: 1.5em;
}

#col1 { margin-top: -50px; }

#col2 img { width: 200px; }
#col2 td { padding: 10px; }

#col1 p { margin: 10px 0px; }
#col1 h1 { text-align: center; }

#col2 table { margin: 0 auto; }

#row2 { 
  clear: both; 
  margin: 0 auto; 
  font-size: 12px;
}
#row2 table { width: 80%; margin: 0 auto; }
#row2 img { margin-bottom: 5px; }
#row2 td { padding: 5px; width: 23%; text-align: center; }
#row2 p { text-align: left; }
#row2 p.center { text-align: center; }

#signup {
  background: #5F5;
  width: 70%;
  margin: 10px auto;
  padding: 20px;
  text-align: center;
}
#signup h2 { font-size: 1.1em; }
#signup p { font-size: 1em; margin: 10px 0px; }




