* { padding: 0px; margin: 0px; }

body {
  font-family: 'Trebuchet M', 'Helvetica', sans-serif;
  background: #252525;
}
#logo {
  float: right;
  width: 190px;
  padding: 20px 100px 20px 0px;
}

#header #menu {
  width: 75%;
  margin: 0 auto;
  clear: both;
  list-style-type: none;
  text-align: left;
}
#header #menu li {
  display: inline;
  padding: 15px;
  margin-right: 10px;
  background: #666;
}
#user_nav img {
  width: 32px;
  height: 32px;
  float: none;
}
#header a:link, #header a:visited { color: #FFF; }
#header a:hover, #header, a:active { color: #8F8F8F; }

#user_nav {
  color: #FFF;
  float: left;
  text-align: right;
  width: 500px;
  padding: 20px 0px 0px 20px;  
}
#user_nav a:link, #user_nav a:visited { color: #EEE; }
#user_nav a:hover, #user_nav a:active { color: #8F8F8F; }
#welcome {
  clear: both;
  background: #FFF;
  width: 75%;
  padding: 5%;
  margin: 14px auto;
}
a:link, a:visited { color: #3F3F3F; }
a:hover, a:active { color: #6F6F6F; }
a img { border: none; }
.center { text-align: center; }

#col1 { float: left; width: 49%; }
#col2 { float: right; width: 49%; }
#col2 { text-align: center; }
#col2 img { width: 200px; }
#col2 td { padding: 10px; }

#col1 p { margin: 10px 0px; }
#col1 h1 { text-align: center; }

#row2 { 
  clear: both; 
  width: 85%; 
  margin: 0 auto; 
  font-size: 12px;
}
#row2 img { margin-bottom: 5px; }
#row2 td { padding: 5px; width: 23%; text-align: center; }
#row2 p { text-align: left; }
#row2 p.center { text-align: center; }

#signup {
  background: #5F5;
  padding: 20px;
  text-align: center;
}
#signup h2 { font-size: 16px; }
#signup p { font-size: 13px; margin: 0; }




